/* CSS Document */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}
header{
	height: 150px;
	background-color: #f8cde0;
	color: #d67371;
	text-align: center;
	padding: 50px;
}

nav{
    height: 100px;
    background-color: #6a638c;
    color: #f8cde0;
    text-align: center;
    padding-top: 0px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 0px;
}

main{
    background-color: #f8cde0;
    padding-top: 20px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 20px;
}

footer{
    height: auto;
    background-color: #6a638c;
    text-align: center;
    color: #FFFFFF;
    padding: 10px;
		
}

section{
	width: 80%;
	height: auto;
	margin: 50px auto;
	padding: 10px;
	background-color: #d67371;
	color: #FFFFFF;
	border-radius: 10px;
}
#logotipo_fo {
	width: 100px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
h2{
	padding: 15px;
	color: #FFE2FA;
	background-color:#6a638c;
	border-radius: 15px;
}
p{
	padding: 20px;
}

.img_fotos{
	height: 250px;
	padding: 10px;
	background-color: #f8cde0;
	border-radius: 5px;
	align-items: center;
}

nav {
    background-color:#6a638c;
    padding-top: 30px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
}
    nav ul li {
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
    color: #8F4B17;
    font-weight: bold;
    font-size: large;
    font-variant: normal;
    font-style: italic;
    display: inline-block;
		}
	nav ul li a{
			color: #551978;
			text-decoration: none;
			padding: 15px;
			background-color: beige;
			border-radius: 10px;
		}
		a:link{
			color: #6a638c;
		}
		a:visited{
			color: #B8008A;
		}
		a:hover{
			color: deeppink;
			background-color: cornsilk;
		}
